.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .blog-post {
    width: 30%; /* Adjust the width as needed */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .blog-post img {
    width: 100%;
    height: auto;
  }
  
  .blog-post-content {
    padding: 10px;
    flex: 1; /* Take remaining vertical space */
  }
  
  .blog-post-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .blog-post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .blog-post p {
    margin-bottom: 10px;
  }
  
  .blog-post-footer {
    display: flex;
    align-items: center;
  }
  
  .blog-post-footer a {
    margin-right: 10px;
  }
  .blog-container {
    margin-top: 200px; /* Adjust the value based on your header's height */
  }
  .star-rating {
    font-size: 24px;
}

.full::before {
    content: '\2605'; /* Unicode character for a filled star */
    color: gold;
}

.empty::before {
    content: '\2606'; /* Unicode character for an empty star */
    color: grey;
}
.btn-group a {
  margin-right: 10px; /* Adjust the value to control the spacing */
}


.category {
  margin-top: 5%; /* Adjust the value based on your header's height */
}
.h2{
  color: Primary;
}